@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/mavenpro/Mavenproregular.woff2") format("woff2"),
    url("../fonts/mavenpro/Mavenproregular.woff") format("woff"),
    url("../fonts/mavenpro/Mavenproregular.ttf") format("ttf");
  font-weight: regular;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/latoregular.woff2") format("woff2"),
    url("../fonts/lato/latoregular.woff") format("woff"),
    url("../fonts/lato/latoregular.ttf") format("ttf");
  font-weight: regular;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/latobold.woff2") format("woff2"),
    url("../fonts/lato/latobold.woff") format("woff"),
    url("../fonts/lato/latobold.ttf") format("ttf");
  font-weight: bold;
}
