@font-face {
  font-weight: regular;
  font-family: "Maven Pro";

  src: url("../fonts/mavenpro/Mavenproregular.woff2") format("woff2"),
  url("../fonts/mavenpro/Mavenproregular.woff") format("woff"),
  url("../fonts/mavenpro/Mavenproregular.ttf") format("ttf");
}

@font-face {
  font-weight: regular;
  font-family: "Lato";

  src: url("../fonts/lato/latoregular.woff2") format("woff2"),
  url("../fonts/lato/latoregular.woff") format("woff"),
  url("../fonts/lato/latoregular.ttf") format("ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Lato";

  src: url("../fonts/lato/latobold.woff2") format("woff2"),
  url("../fonts/lato/latobold.woff") format("woff"),
  url("../fonts/lato/latobold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.header {
  margin-bottom: 91px;

  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  list-style: none;

  background-color: #323232;
}

.menu__item {
  display: inline;
  margin: 0 12px;
  padding-top: 7px;
}

.menu__item:nth-child(1)::after,
.menu__item:nth-child(4)::after {
  content: "";
  position: absolute;

  width: 1px;
  height: 1px;
  margin-top: 9px;
  margin-left: 11px;

  background-color: #ffffff;
}

.menu__link {
  font-weight: bold;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s;
}

.menu__link:hover {
  color: #2eb398;

  transition: 0.2s;
}

.logo {
  margin: 0 22px;

  transform: translate(2px, 6px);
}

.header__triangle {
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;

  border-width: 26px 46px 0 46px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}

.header__line {
  width: 0;
  margin: -15px auto;
}

.header__line::before {
  content: "";

  display: block;
  width: 410px;
  height: 1px;
  margin: 0 70px;

  background-color: #e4e9eb;
}

.header__line::after {
  content: "";

  display: block;
  width: 410px;
  height: 1px;
  margin: 0 -70px;

  background-color: #e4e9eb;
  transform: translate(-100%, -1px);
}

.portfolio::after {
  content: "";

  display: block;
  width: 100%;
  height: 1px;
  margin: 11px 29px;

  background-color: #e4e9eb;
}

.row {
  position: relative;

  height: 168px;

  text-align: center;
}

.cell {
  display: inline-block;
  margin: 0 8px;
}

.row:nth-child(odd) .cell:first-child::before {
  content: "";
  position: absolute;

  display: block;
  width: 1px;
  height: 106px;

  background-color: #e4e9eb;
  transform: translate(-21px, 51px);
}

.row:nth-child(odd) .cell:last-child::before {
  content: "";
  position: absolute;

  display: block;
  width: 1px;
  height: 106px;

  background-color: #e4e9eb;
  transform: translate(200px, 51px);
}

.hex {
  width: 180px;
  height: 208px;
  overflow: hidden;

  transform: rotate(60deg);
}

.hex__layer {
  width: 180px;
  height: 208px;
  overflow: hidden;

  transform: rotate(60deg);
}

.hex__img {
  width: 180px;
  height: 208px;

  transform: rotate(-120deg);

  object-fit: cover;
}

.slider-controls {
  margin-top: 99px;
  margin-left: 30px;

  list-style: none;
  font-size: 0;
}

.slider-controls__item {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;

  background: #ddd2c5;
  cursor: pointer;
}

.slider-controls__item__active {
  background-color: #8b8784;
}

.about-me {
  padding: 15px 0;

  background-color: #2eb398;
}

.container_about-me {
  position: relative;

  display: flex;
  width: 780px;
  height: 311px;
}

.container_about-me::before,
.container_about-me::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  width: 1px;

  background-color: #219d84;
}

.container_about-me::before {
  left: -21px;
}

.container_about-me::after {
  right: -21px;
}

.about-me__photo {
  margin-top: 50px;
}

.about-me__content {
  margin-top: 50px;
  margin-left: 20px;

  font-size: 12px;
  line-height: 21px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.h1 {
  margin-bottom: 8px;

  font-size: 30px;
  line-height: 27px;
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
}

.h1__second-line {
  display: block;

  font-size: 18px;
  color: #20816d;
}

.socials {
  position: absolute;
  right: 0;
  bottom: 52px;
}

.socials__list {
  list-style: none;
  font-size: 0;
}

.socials__item {
  display: inline-block;
  width: 24px;
  height: 24px;

  background-color: #a4dbd4;

  transition: 0.2s;
}

.socials__item:hover {
  background-color: #6dcbbe;

  transition: 0.2s;
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.socials_fb {
  background-image: url(../img/icons/fb.svg);
}

.socials_twitter {
  background-image: url(../img/icons/twitter.svg);
}

.socials_gp {
  background-image: url(../img/icons/gp.svg);
}

.socials_pinterest {
  background-image: url(../img/icons/pinterest.svg);
}

.socials_linkedin {
  background-image: url(../img/icons/linkedin.svg);
}

.socials_dribbble {
  background-image: url(../img/icons/dribbble.svg);
}

.get-in-touch {
  background-color: #323232;
}

.text-color_white {
  color: #ffffff;
}

.container_get-in-touch {
  width: 777px;
  padding: 65px 0;
}

.get-in-touch__content {
  display: flex;
  margin-top: 15px;
}

.get-in-touch__info {
  margin-left: 20px;

  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.get-in-touch__list {
  margin-top: 38px;

  list-style: none;
}

.get-in-touch__link {
  color: #ffffff;
  text-decoration: none;
}

.get-in-touch__link:hover {
  color: #2eb398;
}

.link__icon {
  height: 10px;
  margin-right: 10px;
}

.get-in-touch__form {
  position: relative;

  width: 100%;
}

.form__input {
  width: 555px;
  height: 38px;
  margin-bottom: 16px;
  padding: 0 12px;

  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #ffffff;

  background-color: #454545;
  border: none;

  resize: none;
}

.form__input::placeholder {
  color: #bebebe;
}

.form__textarea {
  height: 125px;
  padding: 10px 12px;
}

.form__button {
  position: absolute;
  right: 0;

  float: right;
  padding: 11px 30px;

  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #ffffff;

  background-color: #2eb398;
  border: none;
  cursor: pointer;

  transition: 0.2s;
}

.form__button:hover {
  background-color: #6dcbbe;

  transition: 0.2s;
}

.footer {
  display: flex;
  align-items: center;
  height: 43px;

  background-color: #222222;
}

.container_footer {
  width: 945px;
}

.footer__copyright {
  font-size: 12px;
  font-family: "Maven Pro", sans-serif;
  color: #454545;
}
